<div class="mt-3 user-info" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="mt-3">
    <span class="mx-3">Текущий пароль </span>
    <input type="password"
           pInputText
           formControlName="oldPassword"
           [(ngModel)]="oldPassword">
  </div>
  <div class="mt-3">
    <span class="mx-3">Новый пароль </span>
    <input type="password"
           pInputText
           formControlName="newPassword"
           [(ngModel)]="newPassword">
  </div>
  <div class="mt-3">
    <span class="mx-3">Повтор пароля </span>
    <input type="password"
           pInputText
           formControlName="repeatPassword"
           [(ngModel)]="repeatPassword">
  </div>

  <div class="mt-4">
    <button class="btn-success btn"
            type="submit"
            (click)="changePassword($event)"
            [disabled]="!passwordForm.valid">Сменить пароль</button>
  </div>

</div>
